<!DOCTYPE html>
<head>
    <style>
    table, th, td {
        border: 1px solid black;
    }
    </style>
</head>

<h1>Game</h1>
<hr>

<h2>{{game.title}}</h2>
<hr>

<div>
    <p>Title: {{game.title}} </p>
    <p>Starting balance: $ {{game.starting_balance}}</p>
    <p>Rules: {{game.rules}}</p>
    <p>Winner: {{game.winner}}</p>
    <p>Created on: {{game.created_on}}</p>
    <p>uid: {{game.uid}}</p>
</div>

<hr>

{% if portfolios %}
<table>
    <tr>
        <th>Portfolio</th>
        <th>Rank</th>
        <th>Owner</th>
        <th>Cash balance</th>
        <th>Total value</th>
        <th></th>
    </tr>
    <tr>
        {% for portfolio in portfolios %}
            <tr>
                <td>{{portfolio.title}}&nbsp;&nbsp;&nbsp;</td>
                <td>{{portfolio.game_rank}}&nbsp;&nbsp;&nbsp;</td>
                <td>{{portfolio.owner.username}}&nbsp;&nbsp;&nbsp;</td>
                <td>$ {{portfolio.cash_balance}}&nbsp;&nbsp;&nbsp;</td>
                <td>$ {{portfolio.total_value}}&nbsp;&nbsp;&nbsp;</td>
                <td><a href="{% url 'portfolio' portfolio.uid %}">View</a></td>
            </tr>
        {% endfor %}
    </tr>
</table>

{% else %}
<p>No portfolio in the game</p>

{% endif %}

<hr>

<a href="{% url 'games' %}">back</a>

